  .uber {
    background-color: black;
    color: white;

    height: 36px;
    width: 105px;

  }

  .amazon {
    background-color: rgb(255, 216, 20);
    border-radius: 18px;
    border-style: none;
    height: 36px;
    width: 200px;
    font-size: 16px;
  }

  .github {
    background-color: rgb(46, 164, 79);
    border-radius: 5px;
    padding: 5px;
    height: 36px;
    width: 95px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
  }

  .bootstrap {
    background-color: rgb(121, 82, 179);
    color: white;
    height: 36px;
    width: 105px;
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
    margin-right: 6px;
  }

  .boot_strap {
    border-color: rgb(121, 82, 179);
    background-color: white;
    color: rgb(108, 117, 125);
    height: 36px;
    width: 105px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    font-size: 14px;
  }

  .linkedIn {
    background-color: rgb(10, 102, 194);
    height: 36px;
    padding-right: 15px;
    padding-left: 15px;

    border-radius: 18px;
    border-style: none;
    font-weight: bold;
    height: 36px;
    color: white;
  }

  .linked_in {
    border-style: solid;
    color: rgb(10, 102, 194);
    background-color: white;
    border-color: rgb(10, 102, 194);
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
  }